[submodule "tests/plato"]
	path = tests/regression
	url = https://github.com/platoengine/tests.git
[submodule "verification"]
	path = tests/verification
	url = https://github.com/platoengine/verification.git
[submodule "integration_tests"]
	path = integration_tests
	url = https://github.com/platoengine/integration_tests.git
