<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE boost_serialization>
<boost_serialization signature="serialization::archive" version="19">
<plato_app_configuration class_id="0" tracking_level="0" version="0">
	<name>platoanalyze</name>
	<shared_library_file_name>libAnalyzeFunctionalInterface.so</shared_library_file_name>
	<criteria class_id="1" tracking_level="0" version="0">
		<count>1</count>
		<item_version>0</item_version>
		<item class_id="2" tracking_level="0" version="0">
			<name>platoanalyze</name>
			<exported_function>plato_create_criterion</exported_function>
			<is_parallelized>0</is_parallelized>
			<is_scalar>1</is_scalar>
		</item>
	</criteria>
</plato_app_configuration>
</boost_serialization>

